*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.debug{
  background-color: rgba(255, 17, 17, 0.247);
  // border: 1px solid black;
}

.mb_1{
  margin-bottom: 10px;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(124, 124, 124);
  overflow: hidden;
  font-family: monospace;
}

.game_container{
  position: relative;
  width: 100%;
  height: 100%;
}

.right_bar{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  font-weight: bolder;
  font-size: 1.0rem;
  top: 0px;
  right: 0px;
  width: 165px;
  height: calc(100% - 256px - 140px);
  padding-right: 25px;

  & section{
    width: 100%;
  }

  & .top{
    height: 100px;
    padding: 5px;
    font-size: 0.9rem;
    color: rgb(192, 192, 192);
  }
  & .mid{
    height: calc(100% - 240px);
    text-align: end;
    color: rgb(0, 0, 0);
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.11);
    border-radius: 10px;
    user-select: none;
  }
}
.radar{
  position:absolute;
  right: 5px;
  bottom: 150px;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url('@/assets/tankSurvive/icon/radarmap.png');
  background-size: contain;

  & .radar_tile{
    position: absolute;
    width: 2px;
    height: 2px;

  }
}
.tanks_point{
  background-color: rgb(192, 255, 163);
  box-shadow: 0px 0px 3px 1px  rgb(0, 255, 0);
}
.enemy_point{
  background-color: rgb(255, 163, 247);
  box-shadow: 0px 0px 3px 1px  rgb(255, 0, 242);
}

.manual{
  position: absolute;
  left: 0px;
  top: 70px;
  padding: 10px;
  width: 600px;
  height: 260px;
  background-color: rgba(250, 235, 215, 0.753);
  font-weight: 900;
  font-size: 1rem;
  box-shadow: inset 0px 0px 50px 0px  rgba(80, 69, 55, 0.39);

  &.manual_closed{
    left: -600px;
  }
  & p{
    margin-bottom: 10px;
  }

  & .btn_manual{
    position: absolute;
    top: 0px;
    right: -20px;
    width: 20px;
    aspect-ratio: 1/1;
    text-align: center;
    font-size: 1rem;
    font-weight: 900;
    background-color: rgb(250, 235, 215);
    box-shadow: inset 0px 0px 5px 1px  rgb(240, 167, 73);
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
    user-select: none;
  }
}

.left_bar{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  bottom: 140px;
  left: - 100px;
  width: 125px;
  height: 425px;

  &.left_bar_on{
    left: 0px ;
  }

}

.bottom_bar{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 140px;

  & .buttons{
    display: flex;
    justify-content: space-between;
    width: 850px;
    height: 100px;
  }

  & .energy_bar{
    position: relative;
    width: 750px;
    height: 20px;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: inset 0px 0px 8px 1px rgba(255, 255, 255, 0.548);
    overflow: hidden;
    user-select: none;

    & .energy_filling{
      height: 100%;
      background-color: rgba(36, 189, 36, 0.5);
      transition: all 1s ease-out;
    }
    & span{
      position: absolute;
      left: 15px;
      top: 1px;
      color: white;
    }
  }
}

.btn{
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 100px;
  aspect-ratio: 1/1;
  background-position: center;
  background-size:100%;
  object-fit: contain;
  text-align:center;
  border-radius: 5px;
  overflow: hidden;
  user-select: none;
  opacity: 0.80;

  &:hover{
    box-shadow: inset 0px 0px 2px 0px rgb(129, 255, 129);
    box-shadow: inset 0px 0px 5px 2px rgb(129, 255, 129);
    filter: contrast(1.8) hue-rotate(80deg) ;
    opacity: 1;
  }

  & span{
    font-family:monospace;
    font-size: 1.2rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 1px #3b3b3b; 
  }

  & p{
    text-align: left;
    font-weight: 400;
    font-size: 0.9rem;
    color: rgb(255, 255, 255);
    line-height: 0.9rem;
  }
}

.btn-empty{
  width: 100px;
  aspect-ratio: 1/1;
}

.empty_upgrade{
  background-image: url('@/assets/tankSurvive/icon/upgradeEmpty.svg');
}
.empty_deck{
  background-image: url('@/assets/tankSurvive/icon/deckEmpty.svg');
}
.mg_deck{
  background-image: url('@/assets/tankSurvive/icon/deckMg.svg');
}
.cannon_deck{
  background-image: url('@/assets/tankSurvive/icon/deckCannon.svg');
}
.rocket_deck{
  background-image: url('@/assets/tankSurvive/icon/deckRocket.svg');
}

#gameContainer{
  border: 1px solid white;
}

.upgrades_modal{
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  bottom: 160px;
  left: 200px;
  width: 400px;
  height: 500px;
}

.upResSpeed{
  background-image: url('@/assets/tankSurvive/icon/up-resSpeed.png');
}
.upEnergy{
  background-image: url('@/assets/tankSurvive/icon/up-enEfficiency.png');
}
.upEngineering{
  background-image: url('@/assets/tankSurvive/icon/up-engineerEfficiency.png');
}
.upBuildings{
  background-image: url('@/assets/tankSurvive/icon/up-buildingsArmor.png');
}
.upBoost{
  background-image: url('@/assets/tankSurvive/icon/up-boostSpeed.png');
}
.upProduction{
  background-image: url('@/assets/tankSurvive/icon/up-ProductionSpeed.png');
}
.upSpeedTraction{
  background-image: url('@/assets/tankSurvive/icon/up-SpeedTraction.png');
}
.upRangeOfView{
  background-image: url('@/assets/tankSurvive/icon/up-RangeOfView.png');
}
.upMgDmg{
  background-image: url('@/assets/tankSurvive/icon/up-mgDamage.png');
}
.upMgRof{
  background-image: url('@/assets/tankSurvive/icon/up-mgRof.png');
}
.upMgHp{
  background-image: url('@/assets/tankSurvive/icon/up-mgHp.png');
}
.upCannonDmg{
  background-image: url('@/assets/tankSurvive/icon/up-cannonDamage.png');
}
.upCannonRof{
  background-image: url('@/assets/tankSurvive/icon/up-cannonRof.png');
}
.upCannonHp{
  background-image: url('@/assets/tankSurvive/icon/up-cannonHp.png');
}
.upBRocketDmg{
  background-image: url('@/assets/tankSurvive/icon/up-RocketDamage.png');
}
.upRocketRof{
  background-image: url('@/assets/tankSurvive/icon/up-RocketRof.png');
}
.upRocketHp{
  background-image: url('@/assets/tankSurvive/icon/up-RocketHp.png');
}

.alradySearching{
  filter: grayscale(1) sepia(1);
}
.endSearching{
  filter: grayscale(2) opacity(0.25);
}

.coming_soon{
  filter: blur(1px) opacity(0.25);
  background-color: rgb(61, 95, 61);
}

@media screen and (min-width:1124px) {
  .left_bar{
    bottom: 34px;
  }
  .upgrades_modal{
    left: 240px;
  }
}
@media screen and (min-width:1399px) {

  .upgrades_modal{
    left: 400px;
  }

  .radar{
    right: 5px;
    bottom: 5px;
  }

}
@media screen and (min-width:1919px) {

  .upgrades_modal{
    left: 650px;
  }
}
@media screen and (min-width:2400px) {

  .upgrades_modal{
    left: 850px;
  }
}